
*{
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 17px;
}

.body {
	margin-top: 30px;
}

/*******************
Sticky Footer
*******************/

html, body {
	height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -75px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 75px;
}

/*******************
SMain Layout
*******************/

a {
	text-decoration: none;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
	/*no bullet points in list*/
}

footer {
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

header {
  background-color: darkblue;
  color: white;
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
}

/*******************
Song_list Table Formatting
*******************/

table {
    margin-left: 10%;
    width: 80%;
}

th {
    height: 50px;
    text-align: left;
}

th, td {
	border-bottom: 1px solid #ddd;
}

.icon {
	height: 45px;
	width: 45px;
}

/*******************
Header
*******************/

.main-logo {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
  color: beige;
}

.main-header,
.main-nav {
  display: flex;
}

.main-header{
  flex-direction: row;
  justify-content: space-between;
  /*allows separation between .name and .main-nav*/
}

.home-body {
  text-align: center;
}

#enter a{
  color: red;
  text-decoration: underline;
}

.save{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 8px;
	margin-top: 7px;
	margin-right: 10px;
}

.delete{
  background-color: red;
  color: white;
  border-radius: 5px;
	padding: 8px;
	margin-top: 7px;
	margin-right: 10px;
}

#list-table{
	padding-left: 10px;
}

#new-song {
	text-align: center;
}

.form, .margin-center {
	margin-left: 10%;
}

.form p, .margin-center p {
	padding: 7px 0px;
}

#detail-button {
	color: white;
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color: orange;
	padding: 2px;
	border-radius: 5px;
	margin-top: 7px;
}


/*******************
Media Queries
*******************/

@media (min-width: 786px) {

	table {
	    margin-left: 25%;
	    width: 50%;
	}

	.form {
		margin-left: 45%;
	}

	.margin-center{
		text-align: center;
	}

}

@media (min-width: 1298px) {

	table {
		margin-left: 30%;
		width: 40%;
	}

}
